/* * {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.65;
    color: #7e7e7e;
    top: 0 !important;
    display: block;
    position: relative;
    min-height: 100%;
} */

.item {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.65;
    color: #7e7e7e;
    box-sizing: border-box;
}

.views-field {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.65;
    color: #7e7e7e;
    box-sizing: border-box;
}

.field-content {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.65;
    color: #7e7e7e;
    box-sizing: border-box;
}

.lbl-licitacao {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.65;
    color: #7e7e7e;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    float: left;
    width: 50%;
    padding-left: 0;
}

.views-field-field-historico-da-licitacao {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.65;
    color: #7e7e7e;
    box-sizing: border-box;
}

.field-content {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.65;
    color: #7e7e7e;
    box-sizing: border-box;
}